body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nomargin {
	margin-top: 0;
	margin-bottom: 0;
}

.card-title {
    width: 100%;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.card-image {
    height: 300px;
}

.font-barcode {
    font-size: 3em !important;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

.card:hover {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3)
}

.container {
    margin-top: 5% !important;
}